{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": ["airbnb-base"],
  "globals": {
    "Atomics": "readonly",
    "ShareArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-mixed-operators": [0],
    "import/no-dynamic-require": [0],
    "global-require": [0],
    "no-plusplus": [0],
    "no-console": [0]
  }
}
